<h1 class="titulo">Crea tu perfil</h1>
<div class="container">
  <form [formGroup]="RusuarioForm" (ngSubmit)="onRegistroUsuario()"  class="list-group-item">
    <div class="form-group row">

      <label class="col-sm-1  col-form-label">Nombre:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Nombre" placeholder="Nombre">
      </div>

      <label class="col-sm-1  col-form-label">Aepllido:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Apellido" placeholder="Apellido">
      </div>

      <label class="col-sm-1  col-form-label">Email:</label>
      <div class="col-sm col-md-12">
      <input type="email" class="form-control" formControlName="Email" placeholder="email@email.com">
      </div>


      <label class="col-sm-1  col-form-label">Contraseña:</label>
      <div class="col-sm col-md-12">
      <input type="password" class="form-control" formControlName="Contraseña" placeholder="Contraseña">
      </div>

      <label class="col-sm-1  col-form-label">Confirma la contraseña:</label>
      <div class="col-sm col-md-12">
      <input type="password" class="form-control" formControlName="ConfContraseña" placeholder="Contraseña">
      </div>

      <label class="col-sm-1  col-form-label">Dirección:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Direccion" placeholder="Direccion">
      </div>

      <label class="col-sm-1  col-form-label">Tarjeta:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Tarjeta" placeholder="Tarjeta">
      </div>
  </div>

     <div class="form-group row">
      <button type="submit" class="btn btn-outline-primary">Crear</button>
     </div>
  </form>

</div>
