@charset "utf-8";
/* CSS Document */

h1,thead{
  font-family: 'Romanesco', cursive;
  text-align: center;
}

.bg-dark {
  background-color: #AD1300 !important;
}

.titulo {
  margin-bottom: 20px;
  padding-top: 10px;
  color: #000000;
  font-size: 50px;

}

.encTabla{
	font-size: 30px;
}




.margenesS{
	margin: 2rem 8rem;
}


.container{
  margin-top: 10px;
  margin-bottom: 20vh;
  text-align: center;
}


.bg-romanisProd{
	background-color: #FAA402;
}


@media (min-width: 768px) {
.form-group{
  align-self: center;
  display: flex;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
 }

 .btn-primary-ro{
  margin-left: 2%;
  margin-right: 2%;
 }


  }



