	<!-- Importacion fuentes -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Romanesco&display=swap" rel="stylesheet">

<body class="bg-romanisRojo">

	<div class="container-fluid font-romanisCuerpo">
		<div class="row">
    		<div class="col text-center text-light">
				<span class="icon-search-location"></span>
      			Encuentra tu coliseo más cercano
    		</div>
 		</div>
	</div>

	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6 m-0 p-0">
		  <img src="./assets/imagenes/Conocenos1.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-sm-6 m-0 p-0">
		  <img src="./assets/imagenes/Conocenos4.jpg" class="img-fluid" alt="Responsive image">
		</div>
	  </div>
	</div>

	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-3 m-0 p-0">
		  <img src="./assets/imagenes/Conocenos3.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-sm-3 m-0 p-0">
		  <img src="./assets/imagenes/Conocenos6.jpg" class="img-fluid" alt="Responsive image">
		</div>
		 <div class="col-sm-3 m-0 p-0">
		  <img src="./assets/imagenes/Conocenos5.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-sm-3 m-0 p-0">
		  <img src="./assets/imagenes/Conocenos2.jpg" class="img-fluid" alt="Responsive image">
		</div>
	  </div>
	</div>

	<h1 class="titulo text-center">Romanis México</h1>

	<h5 class="text-center m-4 font-romanisCuerpo">Nuestra lucha llega a México</h5>


	<div class="container-fluid p-2">
		<p class="text-center font-romanisCuerpo">
			La cocina italiana bien conocida por sus especialidades clásicas como pizza, pastas y vinos, también tiene un lado “chill” en el que puedes encontrar los mejores bocadillos preparados con la sazón italiano clásico.
		</p>
		<p class="text-center font-romanisCuerpo">
			Así se le da un vuelco al restaurante italiano clásico que todos identifican y traemos esta nueva propuesta para jóvenes que también son de paladar exigente.
		</p>
		<p class="text-center font-romanisCuerpo">
		Ambientado en la cultura romana bien conocida por su historia y desafíos Romanis tiene como emblema el Coliseo Romano donde se libraron grandes batallas en la historia antigua, pero con un toque actual y divertido donde los mejores cocineros deleitaran su paladar con las mejores botanas.
		</p>
	</div>


	<h6 class="text-center m-4 font-romanisCuerpo">Desde las tierras romanas</h6>
	<div class="container-fluid p-2">
		<p class="text-center font-romanisCuerpo">
			Romanis fue creado en 1975 en Roma y se ha expandido por varios países para llevar este concepto a todos los lugares.
		</p>
		<p class="text-center font-romanisCuerpo">
			Visítanos en nuestra primera sucursal que está en la calle Covid #19 C.P 2020.
		</p>
	</div>

</body>
