
.contenedor{
  width: 100%;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header{
  justify-content: space-between;
}
.space{
  width: 50%;
}

.img-logo{
  width: 50%;
}

.division{
  height: 1px;
  width: auto;
  background-color: black;
}

.info-container{
  padding-top: 10px;
}

.centrado{
  align-self: center;
  display: flex;
}

.info-producto{
  width: 100%;
  justify-content: space-between;
  text-align: left;
}

.row-items{
  color:black;
  display:inline-flex;
  width: 100%;
  list-style-type: none;
}

.list-products{
  margin-left: 9px;
  padding-left: 5px;
}

.total-producto{
  width: 100%;
  justify-content:flex-end;
  text-align: right;
}
.subtitulo{
  font-family: 'Romanesco', cursive;
  font-size: 30px;
}
/*Resolucion de laptop*/
@media (min-width: 768px) {
  .contenedor{
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .img-logo{
    width: 30%;
  }

}
