
<div class="nota container-fluid">

    <div class="row header centrado">
      <div class="space">
      <img class="img-logo" src="https://lindatablerosgessner.github.io/Visitor-Registration-App/src/assets/images/logo.png">
      </div>
      <div class="space centrado">
      <h5>#QWEQRU2</h5>
      </div>
    </div>

    <div class="row info-container">

      <div class="col-sm col-md-6 contacto">
        <h6>Contacto</h6>
        <p>jignaciovg@hotmail.com</p>
        <p>4772767122</p>
      </div>
      <div class="col-sm user">
        <h6>Informacion</h6>
        <p>Jose Ignacio Vaqueiro Gonzalez</p>
        <p>Brisas del lago, calle con nombre largo #524</p>
      </div>

    </div>

    <hr class="division">

    <div class="row list-products">
      <ul class="col-sm-6 col-md-12 col-lg-12 col-xl-12  mb-1 mt-1">
        <li class="row-items">
          <div class="row info-producto">
            <div class="row">
              <p>2x</p>
              <p class="pl-2">Alitas Buffalo</p>
            </div>
          <p>$320</p>
          </div>
        </li>
        <li class="row-items">
          <div class="row info-producto">
            <div class="row">
              <p>2x</p>
              <p class="pl-2">Alitas Buffalo</p>
            </div>
          <p>$140</p>
          </div>
        </li>
        <li class="row-items">
          <div class="row info-producto">
            <div class="row">
              <p>2x</p>
              <p class="pl-2">Alitas Buffalo</p>
            </div>
          <p>$35</p>
          </div>
        </li>
      </ul>
    </div>


    <div class="row">
      <ul class="col-sm col-md-12 col-lg-12 col-xl-12  mb-1 mt-1">
        <li class="row-items">
          <div class="row total-producto">
            <p>Subtotal: $320</p>
          </div>
        </li>
      </ul>
    </div>

</div>
