<h1 class="titulo">Actualiza tu perfil</h1>
<div class="container">
  <!--<form [formGroup]="UproductoForm" (ngSubmit)="onUpdateProducto()"  class="list-group-item">-->
    <form [formGroup]="UpUsuarioForm" (ngSubmit)="onUpdateUsuario()"  class="list-group-item">
    <div class="form-group row">

      <label class="col-sm-1  col-form-label">Nombre:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Nombre" placeholder="Nombre" readonly >
      </div>

      <label class="col-sm-1  col-form-label">Apellido:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Apellido" placeholder="Apellido" readonly >
      </div>

      <label class="col-sm-1  col-form-label">Email:</label>
      <div class="col-sm col-md-12">
      <input type="email" class="form-control" formControlName="Email" placeholder="email@email.com" readonly >
      </div>

      <label class="col-sm-1  col-form-label">Dirección:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Direccion" placeholder="Direccion">
      </div>

      <label class="col-sm-1  col-form-label">Tarjeta:</label>
      <div class="col-sm col-md-12">
      <input type="text" class="form-control" formControlName="Tarjeta" placeholder="Tarjeta">
      </div>
  </div>

     <div class="form-group row">
      <button type="submit" class="btn btn-outline-primary">Actualizar</button>

     </div>
    </form>
</div>
