
h1,thead{
	font-family: 'Romanesco', cursive;
}

.titulo {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.contenido{
  margin-top: 20px;
  margin-bottom: 20vh;
}

.bg-dark {
  background-color: #AD1300 !important;
}

.encTabla{
	font-size: 30px;
}

.tituloproducto {
  margin: 2rem 8rem 1rem;
  color: #000000;

}

.margenesS{
	margin: 2rem 8rem;
}

.producto{
	margin: 4rem 6rem;

}


.bg-romanisProd{
	background-color: #FAA402;
}

