<div class="contenedor container-fluid bg-romanisProd">
  <body class="bg-romanisProd">

    <h1 class="titulo">Lista de empleados</h1>
    <button type="button" class="btn btn-outline-primary col-md-1 offset-md-10 mb-2" [routerLink] ="['/admin/registro-empleado']">Crear</button>

     <!-- Seccion tabla -->
      <section class="table-responsive">
          <table class="table table-romanis">
           <thead class="encTabla">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Rol</th>
              <th scope="col">Salario</th>
              <th scope="col">Turno</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listEmpleados.empl">
              <td>{{item.nombre}}</td>
              <td>{{item.apellido}}</td>
              <td>{{item.rol}}</td>
              <td>{{item.salario}}</td>
              <td>{{item.turno}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-success" [routerLink] ="['/admin/actualizar-empleado', item._id]">Editar</button>
                <button type="button" class="btn btn-outline-danger"(click)="onDeleteEmpleado(item._id)" >Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </section>
      <!-- seccion tabla -->

      <!-- Paginacion -->
<section class="container mt-4 ">
    <div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
        </div>
</section>
      <!-- paginacion -->

  </body>
</div>
