.titulo {
  margin: 2rem 2rem 0rem;
  color: #FAA402;
  font-size: 50px;
  font-family: 'Romanesco', cursive;
}

.contenedor{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,thead{
	font-family: 'Romanesco', cursive;
}

tbody{
	font-family: 'Michroma', sans-serif;
}

.bg-dark {
  background-color: #AD1300 !important;
}

.titulo {
  margin: 2rem 2rem 0rem;
  color: #FAA402;
  font-size: 50px;

}

.encTabla{
	font-size: 35px;
	border: 2px solid #8592FD;
}

.tituloproducto {
  margin: 2rem 8rem 1rem;
  color: #FAA402;

}

.margenesS{
	margin: 2rem 8rem;
}

.producto{
	margin: 4rem 6rem;

}

.bg-romanisProd{
	background-color: #D6DDDF;
}

.table-romanis {
  border: 2px solid #8592FD;
}

.table-romanis tr,
.table-romanis th,
.table-romanis td {
  border: 2px solid #8592FD;
  border-bottom-width: 2px solid #8592FD;
}

.table-romanis thead th,
.table-romanis thead td {
  border: 2px solid #8592FD;
  border-bottom-width: 2px solid #8592FD;
}
