

<!--PEDIDOS CELULARES-->
<div class="contenedor container-fluid">

  <div class="row">
    <div class=" col-sm col-md-12 col-lg-12 col-xl-12 pedido-row">
      <h4 class="titulo">Mis pedidos</h4>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
  <div class="col-sm col-md-6 col-lg-3 col-xl-3 pedido-movil pt-1">
    <div>
      <div class="pedido-item">
      <div class="pedido-info">
        <h5 class="sin-espacios">QWY12</h5>
        <p class="sin-espacios">Fecha: 20/11/20</p>
        <p class="sin-espacios">Tipo: Para llevar</p>
        <p class="sin-espacios">Total: $1500</p>
        <p class="sin-espacios">Estado: Aceptado</p>
      </div>
      <div class="pedido-show">
        <a [routerLink] ="['/detalle/pedido']">Ver pedido ></a>
      </div>
    </div>
    <hr class="division">
  </div>

  </div>

  <div class="col-sm col-md-6 col-lg-3 col-xl-3 pedido-movil pt-1">
    <div>
      <div class="pedido-item">
      <div class="pedido-info">
        <h5 class="sin-espacios">QWY12</h5>
        <p class="sin-espacios">Fecha: 20/11/20</p>
        <p class="sin-espacios">Tipo: Para llevar</p>
        <p class="sin-espacios">Total: $1500</p>
        <p class="sin-espacios">Estado: Aceptado</p>
      </div>
      <div class="pedido-show">
        <a [routerLink] ="['/detalle/pedido']">Ver pedido ></a>
      </div>
    </div>
    <hr class="division">
  </div>

  </div>

  <div class="col-sm col-md-6 col-lg-3 col-xl-3 pedido-movil pt-1">
    <div class="">
      <div class="pedido-item">
      <div class="pedido-info">
        <h5 class="sin-espacios">QWY12</h5>
        <p class="sin-espacios">Fecha: 20/11/20</p>
        <p class="sin-espacios">Tipo: Para llevar</p>
        <p class="sin-espacios">Total: $1500</p>
        <p class="sin-espacios">Estado: Aceptado</p>
      </div>
      <div class="pedido-show">
        <a [routerLink] ="['/detalle/pedido']">Ver pedido ></a>
      </div>
    </div>
    <hr class="division">
  </div>

  </div>

  <div class="col-sm col-md-6 col-lg-3 col-xl-3 pedido-movil pt-1">
    <div class="">
      <div class="pedido-item">
      <div class="pedido-info">
        <h5 class="sin-espacios">QWY12</h5>
        <p class="sin-espacios">Fecha: 20/11/20</p>
        <p class="sin-espacios">Tipo: Para llevar</p>
        <p class="sin-espacios">Total: $1500</p>
        <p class="sin-espacios">Estado: Aceptado</p>
      </div>
      <div class="pedido-show">
        <a [routerLink] ="['/detalle/pedido']">Ver pedido ></a>
      </div>
    </div>
    <hr class="division">
  </div>

  </div>
</div>
</div>
</div>
