.titulo{
	font-family: 'Romanesco', cursive;
  color: #FAA402;
  font-size: 40px;
}

.pedido-item{
  display: flex;
}

.subtitulo{
  font-family: 'Romanesco', cursive;
  font-size: 30px;
}

.contenedor{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.division{
  height: 1px;
  width: auto;
  background-color: black;
}


.card-link{
  margin: 0;
  font-size: 10px;
}

.pedido-row {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}

.pedido-show{
  margin: auto;
}

.pedido-show a{
  color: black;
  font-weight: bold;
  font-size: 17px;
}


.sin-espacios{
  margin: 0;
  padding: 0;
}


/*Resolucion de laptop*/
@media (min-width: 768px) {


}
