

<!--PEDIDOS CELULARES-->
<div class="container-fluid">

  <div class="row">
    <div class=" col-sm-4 col-md-12 col-lg-12 col-xl-12 pedido-row table-dark">
      <h4>Mis pedidos</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm pedido-movil pt-1">
      <div class="pedido-item">
      <div class="pedido-info">
        <h5 class="sin-espacios">QWY12</h5>
        <p class="sin-espacios">Fecha: 20/11/20</p>
        <p class="sin-espacios">Tipo: Para llevar</p>
        <p class="sin-espacios">Total: $1500</p>
        <p class="sin-espacios">Estado: Aceptado</p>
      </div>
      <div class="pedido-show">
        <a>Ver pedido ></a>
      </div>
    </div>
    <hr class="division">

    </div>
    <div class="col-sm pedido-movil pt-1">
      <div class="pedido-item">
      <div class="pedido-info">
        <h5 class="sin-espacios">AER2S</h5>
        <p class="sin-espacios">Fecha: 20/11/20</p>
        <p class="sin-espacios">Tipo: A domicilio</p>
        <p class="sin-espacios">Total: $1500</p>
        <p class="sin-espacios">Estado: Aceptado</p>
      </div>
      <div class="pedido-show">
        <a>Ver pedido ></a>
      </div>
    </div>
    <hr class="division">
    </div>

  </div>
</div>
