@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m5ln10');
  src:  url('../fonts/icomoon.eot?m5ln10#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m5ln10') format('truetype'),
    url('../fonts/icomoon.woff?m5ln10') format('woff'),
    url('../fonts/icomoon.svg?m5ln10#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carrito:before {
  content: "\e900";
  color: #AD1300;
}
.icon-conocenos:before {
  content: "\e901";
  color: #AD1300;
}
.icon-home:before {
  content: "\e902";
  color: #AD1300;
}
.icon-login:before {
  content: "\e903";
  color: #AD1300;
}
.icon-menu:before {
  content: "\e904";
  color: #AD1300;
}
.icon-usuario:before {
  content: "\e905";
  color: #AD1300;
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
