/* GAMA DE COLORES */

.activo a {
	color: #AD1300 !important;
}

.bg-yellow {
  background-color: #FAA402 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-blue-light {
  background-color: #D6DDDF !important;
}

.btn-ro{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #D6DDDF;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-ro:hover{
  color: #AD1300 !important;
  background-color: #D6DDDF !important;
  border-color: #AD1300 !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item-ro.show .nav-link-ro {
  color: #AD1300;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.navbar-dark-ro a:link{
  color: #D6DDDF;
  font-family: 'Romanesco', cursive;
}
.navbar-dark-ro:focus{
	color: #AD1300;
}

.navbar-dark-ro .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #AD1300;
}

.tam-img{
	max-width: 90%;
	height: 90%;
}

.carousel-espacio{
	margin: 2rem;
}

.form-control-ro {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

.btn-primary-ro{
  color: #fff;
  background-color: #000000;
  border-color: #D6DDDF;
}

.btn-primary-ro:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary-ro:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.list-item-ro {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-ro-logo{
	vertical-align: middle;
}