
<div class="container-fluid">

  <h1 class="titulo">Lista de productos</h1>

  <div class="contenedor">
  <div class="container-fluid">
  <button class="col-sm col-md-2 mb-3 boton  btn-lg btn-primary-ro" [routerLink] ="['/admin/registro-producto']">Agregar</button>
  </div>
	 <!-- Seccion tabla -->
	  <section class="table-responsive">
		<table class="table table-bordered">
		  <thead class="encTabla">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Nombre</th>
			  <th scope="col">Descripción</th>
			  <th scope="col">Precio</th>
			  <th scope="col">Categoría</th>
			  <th scope="col">Acción</th>
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let item of listProductos">
			  <th scope="row">{{item.idProducto}}</th>
			  <td>{{item.nombre}}</td>
			  <td>{{item.descripcion}}</td>
			  <td>{{item.precio}}</td>
			  <td>{{item.idCategoria}}</td>
			  <td class="text-center">
				<button type="button" class="btn btn-outline-success" [routerLink] ="['/admin/actualizar-producto', item.idProducto]">Editar</button>
				<button type="button" class="btn btn-outline-danger" (click)="onDeleteProducto(item.idProducto)" >Borrar</button>
			 </td>
			</tr>

		  </tbody>
		</table>
	</section>
	  <!-- seccion tabla -->

	  <!-- Paginacion -->
<section class="container mt-4">
  <div>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
      </div>
</section>
</div>
    <!-- paginacion -->
</div>
