@charset "utf-8";
/* CSS Document */

h1,thead{
	font-family: 'Romanesco', cursive;
}

.bg-dark {
  background-color: #AD1300 !important;
}

.titulo {
  text-align: center;
  color: #FAA402;
  font-size: 50px;
  margin: 0;
  text-transform: lowercase;
}

.encTabla{
	font-size: 30px;
}

.tituloproducto {
  margin: 2rem 8rem 1rem;
  color: #FAA402;

}

.margenesS{
	margin: 2rem 8rem;
}

.producto{
	margin: 4rem 6rem;

}


