<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Importacion fuentes -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Romanesco&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Detalle de producto-->
  <div class="mt-4 contenido" *ngFor="let item of ProductoInfo">
  <h1 class="titulo pt-3 pb-3">{{item.nombre}}</h1>
	<div class="container pb-3 pt-1 mb-4">
    <div class="row">
		<div class="col">
		  <img src={{item.imagen}} alt={{item.imagen}} class="img-thumbnail">
		</div>
		<div class="col-sm align-self-center" >
		  <ul class="list-group">
        <li class="list-group-item"><b>Descripción:</b> {{item.descripcion}}</li>
			  <li class="list-group-item"><b>Precio:</b> ${{item.precio}}</li>
        <a class="btn btn-dark w-100 mt-3" (click)="onAgregarCarrito(item)">Agregar al carrito</a>
      </ul>
		</div>
	  </div>
	</div>
</div>
	    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>

