
/* GAMA DE COLORES */
.bg-ro-black, .bg-ro-black.active a:link {
	background-color: #000000;
	color: #AD1300 !important;
}

/* .bg-ro-black a:hover {
	color: #AD1300 !important;
	background-color: #D6DDDF !important;
} */

.activo a {
	color: #AD1300 !important;
}

.bg-ro-black li a:hover {
	color: #AD1300 !important;
  background-color: #fff !important;
  border-radius: 60px;
  font-size: 26px;
  margin-top:-3px;
}


.bg-ro-black li a{
  font-family: 'Romanesco', cursive;
  font-size: 24px;
  color: #fff;
  margin: 3px;
}

.dropdown-menu-ro {
  background-color: #000000 !important;
}