<nav class="navbar navbar-expand-lg navbar-dark bg-ro-black">
  <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav link-ro">
                <li class="nav-item activo">
                    <a class="nav-link" [routerLink] ="['/']"><span class="icon-home"></span> Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon-menu"></span> Menú
                    </a>
                    <div class="dropdown-menu dropdown-menu-ro" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink] ="['/menu',1]" routerLinkActive="active">Hamburguesas</a>
                        <a class="dropdown-item" [routerLink] ="['/menu',2]" routerLinkActive="active">Alitas</a>
                        <a class="dropdown-item" [routerLink] ="['/menu',5]" routerLinkActive="active">Ensaladas</a>
                        <a class="dropdown-item" [routerLink] ="['/menu',4]" routerLinkActive="active">Postres</a>
                        <a class="dropdown-item" [routerLink] ="['/menu',3]" routerLinkActive="active">Bebidas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] ="['/carrito']"><span class="icon-carrito"></span> Orden</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] ="['/conocenos']"><span class="icon-conocenos"></span> Conócenos</a>
                </li>
                <li *ngIf="!usuario" class="nav-item">
                    <a class="nav-link" [routerLink] ="['/login']"><span class="icon-login"></span> Iniciar Sesión</a>
                </li>


                <li class="nav-item dropdown"  >
                <div *ngFor="let item of menuItems; let i = index" >
                <a *ngIf="item.section == rol && usuario" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-menu"></span> {{rol}}
                </a>
                <div  class="dropdown-menu dropdown-menu-ro" aria-labelledby="navbarDropdown"  *ngIf="item.items.length > 0 && rol">
                  <div *ngIf="item.items.length > 0 && item.section == rol && usuario">
                    <div *ngFor="let subitem of item.items">
                      <a *ngFor="let child of subitem.subItems" class="dropdown-item" [routerLink] ="child.route" routerLinkActive="active" >{{child.title}}</a>
                    </div>
                    <a class="dropdown-item" (click)="onLogout()"> Cerrar Sesión</a>
                </div>
                </div>
              </div>
              </li>

            </ul>
        </div>

</nav>
