/*TIPOGRAFIA*/
body,html{

}

.titulo{
	font-family: 'Romanesco', cursive;
  color: black;
  font-size: 60px;
}

.encabezado{
  padding-top: 15px;
  padding-bottom: 15px;
}

.linea-negra{
  color: black;
  border-width: 3px;
  border-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.ultimos-productos{
  margin-bottom: 10vh;
}

@media (min-width: 768px) {

}

