.titulo{
	font-family: 'Romanesco', cursive;
  color: black;
  font-size: 60px;
}

.encabezado{
  padding-top: 15px;
  padding-bottom: 15px;
}

.linea-negra{
  color: black;
  border-width: 3px;
  border-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.ultimos-productos{
  margin-bottom: 20vh;
}

.d-block{
  height: 25vh;
  }

  .d-block-promo{
    height: 25vh;
    width: 100vh;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media(min-width:600px){

  .d-block{
    height: 35vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .d-block{
    height: 35vh;
    }
    .d-block-promo{
      height: 35vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .d-block{
    height: 35vh;
    }
    .d-block-promo{
      height: 35vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .d-block{
    height: 65vh;
    }

    .d-block-promo{
      height: 65vh;
    }
}
