.titulo{
	font-family: 'Romanesco', cursive;
  color: #FAA402;
  font-size: 40px;
}

.subtitulo{
	font-family: 'Romanesco', cursive;
  color: #FAA402;
  font-size: 35px;
}

.contenedor{
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nota{
  background-color:whitesmoke;
  width: 100%;
}

.pedido-row {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  background-color: #000000;
}

.compra-row{
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  margin-bottom: 10px;
  transition: 0.3s;
}

.compra-row:hover{
  cursor: pointer;
  background-color: #8592FD;
}

.short{
  margin: 5px;
  width: 100%;
}

.producto-row{
  color: white;
}

.hr-rojo{
  color:#AD1300;
  border-width: 2px;
  border-color: red;
}

.hr-blanco{
  color: white;
  border-width: 1px;
  border-color: white;
}

.btn-delete{
  justify-content:center;
  background-color: whitesmoke;
  color: black;
  border-width: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.btn-delete:hover{
  background-color: #000000;
  color: #AD1300;
}

.img-car{
  display: none;
}

.info-producto{
  width: 100%;
  justify-content: space-around;
  text-align: left;
}

.row-items{
  color:black;
  display:inline-flex;
  width: 100%;
  list-style-type: none;
}

.centrado{
  align-self: center;
  display: flex;
}

.centradoi{
  align-self: center;
  width: 30%;
}

.separador {
  height: 10vh;
}

.option{
  font-size: 24px;
}

/*Resolucion de laptop*/
@media (min-width: 768px) {
  .nota{
    width: 60%;
  }

  .img-car{
    width: 30%;
    display: block;
  }

}
