
<div class="contenedor">

  <div class="nota container">

    <div class="row">
      <div class=" col-sm col-md-12 col-lg-12 col-xl-12 pedido-row table-dark">
        <h4 class="titulo">Orden</h4>
      </div>
    </div>

    <div class="row">
      <div class=" col-sm col-md-12 col-lg-12 col-xl-12 pedido-row table-dark">
        <h5 class="subtitulo">Total: ${{this.total}} MXN</h5>
      </div>
    </div>

    <hr class="hr-blanco">


    <div class="row producto-row">
      <ul class="col-sm col-md-12 col-lg-12 col-xl-12  mb-1 mt-1" *ngFor="let item of listaCarrito">
        <li class="row-items container-card">

          <div class="img-car">
          <img class="foto-car img-fluid" src={{item.imagen}} >
          </div>
          <div class="row info-producto ">

          <div class="centradoi">
          <p class="font-weight-bold">{{item.nombre}}</p>
          <p>Cantidad: {{item.cantidad}}</p>
          </div>

          <div class="producto-precio centrado">
            <p>${{item.total}}</p>
          </div>

          <div class="btn-car centrado">
          <button type="button" class="btn btn-secondary btn-delete" (click)="EliminarItem(item)">X</button>
          </div>
        </div>

        </li>
        <hr class="hr-blanco">
      </ul>
      <div class="row short">
        <div class=" col-sm  compra-row table-dark">
          <h4>Realizar Pedido</h4>
        </div>
      </div>

      <div class="row short">
        <div class=" col-sm col-md-12 col-lg-12 col-xl-12 compra-row table-dark">
          <h4 (click)="onEliminarCarrito()">Eliminar Pedido</h4>
        </div>
      </div>
    </div>

  </div>
</div>

