<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Importacion fuentes -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Romanesco&display=swap" rel="stylesheet">

</head>
<body>
	<!-- Detalle de producto-->
	<h1 class="titulo">Detalle de empleado</h1>

	<h2 class="tituloproducto">Jose Ramirez</h2>
	<div class="container">
	  <div class="row">
		<div class="col-sm align-self-center" >
		  <ul class="list-group">
			  <li class="list-group-item"><b>ID:</b> 2</li>
			  <li class="list-group-item"><b>Salario:</b>$2000</li>
			  <li class="list-group-item"><b>Funciones:</b></li>
        <li class="list-group-item"><b>Turno:</b>Matutino</li>
        <li class="list-group-item"><b>Tipo:</b>2</li>
		  </ul>
		</div>
	  </div>
	</div>
	<!-- detalle de producto-->

	<!-- Botones-->
	<section class="margenesS">
		<button type="button" class="btn btn-outline-success">Editar</button>
		<button type="button" class="btn btn-outline-danger">Borrar</button>
		<button type="button" class="btn btn-outline-secondary">Regresar</button>
	</section>
	<!-- Botones-->

	    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>

