  <div class="container contenido">
    	<!-- Detalle de usuario-->
	<h1 class="titulo">Tu perfil</h1>
	<h2 class="tituloproducto">{{infoUser.nombre}}</h2>
	<div class="container">
	  <div class="row">
		<div class="col">
		  <img src="http://www.ardelucus.org/imagenes/1337901200.jpg" alt="..." class="img-thumbnail">
		</div>
		<div class="col-sm align-self-center" >
		  <ul class="list-group">
			  <li class="list-group-item"><b>Apellido:</b> {{infoUser.apellido}}</li>
			  <li class="list-group-item"><b>Email:</b>{{infoUser.email}}</li>
        <li class="list-group-item"><b>Direccion:</b>{{infoUser.direccion}}</li>
        <li class="list-group-item"><b>Tarjeta:</b>{{infoUser.tarjeta}}</li>
        <li class="list-group-item"><b>Saldo:</b> {{infoUser.saldo}}</li>
		  </ul>
		</div>
	  </div>
  </div>
<!-- Botones-->
<div class="pt-4 text-center">
  <section>
    <button type="button" class="btn btn-outline-success"  [routerLink] ="['/actualizar-perfil', infoUser._id]">Editar</button>
    <button type="button" class="btn btn-outline-danger"(click)="onDeleteUsuario(infoUser._id)" >Borrar perfil</button>
    <button type="button" class="btn btn-outline-secondary">Regresar</button>
  </section>
</div>
  <!-- Botones-->
  </div>


