	<!-- Detalle de usuario-->
	<h1 class="titulo">Tu perfil</h1>

  <div class="container">
	<h2 class="tituloproducto">{{idUser.nombre}}</h2>
	<div class="container">
	  <div class="row">
		<div class="col">
		  <img src="http://www.ardelucus.org/imagenes/1337901200.jpg" alt="..." class="img-thumbnail">
		</div>
		<div class="col-sm align-self-center" >
		  <ul class="list-group">
			  <li class="list-group-item"><b>Apellido:</b> {{idUser.apellido}}</li>
			  <li class="list-group-item"><b>Email:</b>{{idUser.email}}</li>
        <li class="list-group-item"><b>Direccion:</b>{{idUser.direccion}}</li>
        <li class="list-group-item"><b>Tarjeta:</b>{{idUser.tarjeta}}</li>
        <li class="list-group-item"><b>Saldo:</b> {{idUser.saldo}}</li>
		  </ul>
		</div>
	  </div>
  </div>
  </div>
	<!-- detalle de producto-->

	<!-- Botones-->
	<section class="margenesS">
    <button type="button" class="btn btn-outline-success"  [routerLink] ="['/actualizar-perfil', idUser._id]">Editar</button>
    <button type="button" class="btn btn-outline-danger"(click)="onDeleteUsuario(idUser._id)" >Borrar perfil</button>
		<button type="button" class="btn btn-outline-secondary">Regresar</button>
	</section>
	<!-- Botones-->
