<!doctype html>
<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Importacion fuentes -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Romanesco&display=swap" rel="stylesheet">


</head>
<body>

	<!-- Detalle de producto-->
	<h1 class="titulo">Crear productos</h1>

	<h2 class="tituloproducto">
		<div class="form-group mb-0">
			<label for="textoProducto" class="sr-only">Producto</label>
			<input type="text" class="form-control" id="textoProducto" placeholder="Nombre de producto">
	  	</div>
	</h2>


	<div class="container">
	  <div class="row">
		<div class="col">
		  <img src="" alt="..." class="img-thumbnail">
			<form>
			  <div class="form-group">
				<label for="exampleFormControlFile1">Example file input</label>
				<input type="file" class="form-control-file" id="exampleFormControlFile1">
			  </div>
			</form>
		</div>
		<div class="col-sm align-self-center" >
		  <ul class="list-group">
			  <li class="list-group-item">
				  <div class="form-group mb-0">
				 	<label for="textoID" class="sr-only">ID</label>
					<input type="text" class="form-control" id="textoID" placeholder="ID">
	  			  </div>
			  </li>
			  <li class="list-group-item">
			  	  <div class="form-group mb-0">
				 	<label for="textoDescripcion" class="sr-only">Descripción</label>
					<input type="text" class="form-control" id="textoDescripcion" placeholder="Descripción">
	  			  </div>
			  </li>
			  <li class="list-group-item">
				  <div class="form-group mb-0">
				 	<label for="textoPrecio" class="sr-only">Precio</label>
					<input type="text" class="form-control" id="textoPrecio" placeholder="Precio">
	  			  </div>
			  </li>
			  <li class="list-group-item">
				  <div class="form-group mb-0">
				 	<label for="textoCategoría" class="sr-only">Categoría</label>
					<input type="text" class="form-control" id="textoCategoría" placeholder="Categoría">
	  			  </div>
			  </li>
		  </ul>
		</div>
	  </div>
	</div>
	<!-- detalle de producto-->

	<!-- Botones-->
	<section class="margenesS">
		<button type="button" class="btn btn-outline-primary">Crear</button>
	</section>
	<!-- Botones-->

	    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>
